*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.container{
    width: 100%;
    height: 100vh;
    background-color: #d6e1f0;
    display: flex;
    align-items: center;
    justify-content: center;
   

}
.card{
    width: 250px;
    height: auto;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 8px 20px rgba(57, 57, 57, 0.3);
}

.card img {
    width: 100%; 
    height: auto; 
    border-radius: 10px; 
     object-fit: cover;
} 
.card-heading{
    padding: 10px;
}

.card-heading h4{
    text-align: center;
    font-size: 17px;
    font-weight: bold;
    color: rgb(26, 23, 23);
}

.card-description{
    padding: 10px;
    
}

.card-description p{
    text-align-last: center;
    font-size: 13px;
    font-weight: 500;
    color: #9ea1a4;
}